*{
    margin : 0;
    padding : 0;
}

.container{
    max-width: 1200px;
    margin : 0 auto;
    padding : 16px;
}

/* 헤더부분 */

a{color : inherit;
text-decoration:none;
}

.header{
    background: #111827;
    color : #fff;
}

.header__inner{
    display : flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding : 16px;
}